In [3]:
# datetime :

from datetime import date


d1=date.today()
print(d1)

d2=date(2023,4,21)
print(d2)

2024-03-16
2023-04-21

In [5]:
from datetime import time


t1=time(5,23,45)

print(t1)

05:23:45

In [21]:
from datetime import datetime



dt1=datetime.today()
#print(dt1)

dt2=datetime.now()
#print(dt2)


d1=datetime.now().date()
#print(d1)


t1=datetime.now().time()
#print(t1)


tmsp=datetime.now().timestamp()

tmsp

dt2=datetime.fromtimestamp(tmsp)

print(dt2.year)
print(dt2.month)
print(dt2.day)
print(dt2.weekday()) #monday-0 Sunday-6
print(dt2.hour)
print(dt2.minute)

2024
3
16
5
13
21

In [31]:
dt1=datetime.today()
print(dt1.strftime("%d-%B-%Y"))
print(dt1.strftime("%d%m%Y"))
print(dt1.strftime("%A  %d-%B-%Y %I:%M:%S  %p"))

16-March-2024
16032024
Saturday  16-March-2024 01:25:46  PM

In [ ]:
https://www.programiz.com/python-programming/datetime/strftime

In [32]:
st="23/04/2023"


dt3=datetime.strptime(st,"%d/%m/%Y")

print(dt3)

2023-04-23 00:00:00

In [33]:
dt1 > dt3

True

In [34]:
dt1-dt3

datetime.timedelta(days=328, seconds=48346, microseconds=701266)

In [35]:
print(dt1)

2024-03-16 13:25:46.701266

In [39]:
from datetime import timedelta

dt5 =dt1 + timedelta(days=3)

print(dt5)

2024-03-19 13:25:46.701266

In [41]:
import pytz


dt6=datetime.now(pytz.UTC)

print(dt6)

2024-03-16 08:02:53.473155+00:00

In [ ]:
#https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [43]:
dt1=datetime.now()

tz=pytz.timezone("Asia/Dubai")

dt2=dt1.astimezone(tz)

print(dt2)

2024-03-16 12:06:21.860701+04:00

In [49]:
start_date=datetime(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")),1)

In [51]:
print(start_date)

2024-03-01 00:00:00

In [52]:
import calendar

In [54]:
calendar.monthrange(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")))[1]

31

In [55]:
start_date=datetime(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")),calendar.monthrange(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")))[1])

In [56]:
print(start_date)

2024-03-31 00:00:00

In [59]:
calendar.monthrange(2024,2)

(3, 29)

In [ ]:
# database connection :

In [ ]:
DDL : create,alter, drop
DML : insert,update,delete  # commit()
DQL : select

In [69]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    cur.execute("create table user (id int, name varchar(256))")
    
    
except Exception as ex:
    print(ex)
finally:
    con.close()

In [71]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    cur.execute("insert into user values(101,'Amit')")
    
    con.commit()
except Exception as ex:
    print(ex)
finally:
    con.close()

In [75]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    data=[(102,"Deepak"),(103,"Sam"),(104,"Rohan")]
    sql="insert into user values (%s,%s)"
    cur.executemany(sql,data)
    con.commit()
except Exception as ex:
    print(ex)
finally:
    con.close()

In [76]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    id=int(input("Enter id :"))
    name=input("Enter name :")
    sql="insert into user values ('%d','%s')"%(id,name)
    cur.execute(sql)
    con.commit()
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :105
Enter name :Mike

In [79]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    cur.execute("select * from user")
    #data=cur.fetchall()
    #data=cur.fetchmany(3)
    data=cur.fetchone()
    print(data)
    
except Exception as ex:
    print(ex)
finally:
    con.close()

(101, 'Amit')

In [80]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    id=int(input("Enter id :"))    
    sql="delete from user where id='%d'"%(id)    
    cur.execute(sql)
    con.commit()
    
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :103

In [82]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    id=int(input("Enter id :"))
    name=input("Enter name :")
    sql="update user set name='%s' where id='%d'"%(name,id)   
    cur.execute(sql)
    con.commit()
    
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :101
Enter name :Amit kumar