In [ ]:
#Exception handling :

In [1]:
print("start")
x=2
result=10/x
print(result)
print("end")

start
5.0
end

In [2]:
print("start")
x=
result=10/x
print(result)
print("end")

start

ZeroDivisionError: division by zero

In [ ]:
try
except
finally
else

In [6]:
print("start")
x=0
try:
    result=10/x
    print(result)
except ZeroDivisionError :
    print("can't div by zero")
print("end")

start
can't div by zero
end
11

In [10]:
print("start")
x=2
list1=[2,3,4,5]
try:
    result=10/x
    try:
        print(list1[4])
    except IndexError as ex:
        print(ex)
    print(result)
except ZeroDivisionError :
    print("can't div by zero")
print("end")

start
list index out of range
5.0
end

In [13]:
print("start")
x=2
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[4])
    print(result)
except ZeroDivisionError :
    print("can't div by zero")
except IndexError as ex:
        print(ex)
print("end")

start
list index out of range
end

In [17]:
print("start")
x=0
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[4])
    print(result)
except (ZeroDivisionError,IndexError )as ex:
    print(ex)

print("end")

start
division by zero
end

In [19]:
print("start")
x=2
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[4])
    print(result)
except Exception as ex:
    print(ex)

print("end")

start
list index out of range
end

In [21]:
print("start")
x=0
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[4])
    print(result)
except ZeroDivisionError as ex:
    print(ex)
except Exception as ex:
    print(ex)
    

print("end")

start
division by zero
end

In [25]:
import traceback,sys

print("start")
x=2
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[4])
    print(result)
except Exception as ex:
    traceback.print_exc(file=sys.stdout)
    

print("end")

start
Traceback (most recent call last):
  File "<ipython-input-25-82982c10a8ad>", line 8, in <module>
    print(list1[4])
IndexError: list index out of range
end

In [ ]:
try:
    con=connect()
    sql1
    sql2
    sql3

except SQLException as ex:
    print(ex)
finally:
    con.close()

In [29]:
print("start")
x=0
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[2])
    print(result)
except Exception as ex:
    print(ex)
finally:
    print("finally block")
print("end")

start
division by zero
finally block
end

In [31]:
print("start")
x=2
list1=[2,3,4,5]
try:
    result=10/x
    print(list1[2])
    print(result)
except Exception as ex:
    print(ex)
else:
    print("else block")
finally:
    print("finally block")
print("end")

start
4
5.0
else block
finally block
end

In [33]:
def checkAge(age):
    if type(age)!=int:
        raise TypeError(f"type of age must be int not {type(age)}")
    if age>18:
        print("valid")
    else:
        print("not valid")

In [36]:
try:
    checkAge('23')
except TypeError as ex:
    print(ex)

type of age must be int not <class 'str'>

In [41]:
 checkAge('23')

TypeError: type of age must be int not <class 'str'>

In [42]:
class InvalidAgeError(Exception):
    ''' doc string'''
        pass

In [43]:
def checkAge(age):
    if type(age)!=int:
        raise InvalidAgeError(f"type of age must be int not {type(age)}")
    if age>18:
        print("valid")
    else:
        print("not valid")

In [46]:
 try:
    checkAge('23')
except Exception as ex:
    print(ex)

type of age must be int not <class 'str'>