In [ ]:
# datetime : is module 

from datetime import date
# date is class



d1=date.today(). # gives current date of system 
print(d1)

d2=date(2023,4,21)
# ceating our own date object with given values 

print(d2)

2024-03-16
2023-04-21

In [ ]:
from datetime import time
# time is a class 
# time create kr sakte hai , isse current nikaal ni sakte for that dusri class hai 

t1=time(5,23,45)

print(t1)

05:23:45

In [ ]:
from datetime import datetime
# module name - datetime. also     class name -datetime
# date n time dono k sath kaam kr sakte hai 



dt1=datetime.today() #system ka  date n time dono nikaal k deta hai 
#print(dt1)

dt2=datetime.now() #system ka  date n time dono nikaal k deta hai + kisi time zome me convert karna hai to now() ka use kartey hai 
#print(dt2)


d1=datetime.now().date()      ##system ka  date n time dono nikaal k deta hai , usme de date extract kartey hai 
#print(d1)


t1=datetime.now().time()        ##system ka  date n time dono nikaal k deta hai , usme de time extract kartey hai 
#print(t1)


tmsp=datetime.now().timestamp()     ##system ka  date n time dono nikaal k deta hai , usme de date extract kartey hai 

tmsp

dt2=datetime.fromtimestamp(tmsp) #returns date time object , from which we can extract lot of data 
# 'Sat Feb 28 00:23:15 2026'

print(dt2.year)
print(dt2.month)
print(dt2.day)
print(dt2.weekday()) #monday-0 Sunday-6
print(dt2.hour)
print(dt2.minute)

2026
2
28
5
0
30

In [ ]:
import time 
from datetime import datetime

tmsp=datetime.now().timestamp() 

time.ctime(tmsp)   #---> 'Sat Feb 28 00:23:15 2026' this is a string , now from string we cant ecxtract any data , only fro time date or date time format

'Sat Feb 28 00:23:15 2026'

In [ ]:
dt1=datetime.today()
can change format of the date time it returns , in different formats using strftime(---format--) like below 
to find more type of formats , check the link below for complete list 

print(dt1.strftime("%d-%B-%Y"))
print(dt1.strftime("%d%m%Y"))
print(dt1.strftime("%A  %d-%B-%Y %I:%M:%S  %p")). #m- min , s - sec etc

but returns string and cant perform any action on it 
need to convert to date time format

16-March-2024
16032024
Saturday  16-March-2024 01:25:46  PM

In [ ]:
https://www.programiz.com/python-programming/datetime/strftime

In [ ]:
st="23/04/2023"

to convert string date time to datetime format use strptime() coz operation can be done only on sasme types
dt3=datetime.strptime(st,"%d/%m/%Y")

print(dt3)

2023-04-23 00:00:00

In [33]:
dt1 > dt3

True

In [34]:
dt1-dt3

datetime.timedelta(days=328, seconds=48346, microseconds=701266)

In [35]:
print(dt1)

2024-03-16 13:25:46.701266

In [ ]:
from datetime import timedelta


# to add or minus difference days in date we can do timedelta()
# to subtract in months ... then 1st convert month/ year to days  first 
dt5 =dt1 + timedelta(days=3)

print(dt5)

2024-03-19 13:25:46.701266

In [ ]:
import pytz

to change the format to utc - to compate 2 utc date times 
dt6=datetime.now(pytz.UTC)

print(dt6)

2024-03-16 08:02:53.473155+00:00

In [ ]:
time zone shortcut names 

#https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [43]:
dt1=datetime.now()

tz=pytz.timezone("Asia/Dubai"). # some time zone not have short names ,... so use this this from the list in the link 

dt2=dt1.astimezone(tz)

print(dt2)

2024-03-16 12:06:21.860701+04:00

In [ ]:
# to get start date of the month 


start_date=datetime(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")),1)

In [51]:
print(start_date)

2024-03-01 00:00:00

In [52]:
import calendar

In [ ]:
# to get end date of the month
# way 1 

calendar.monthrange(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")))[1]

28

In [ ]:
# to get end date of the month 
# way 2

start_date=datetime(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")),calendar.monthrange(int(datetime.now().strftime("%Y")),int(datetime.now().strftime("%m")))[1])

In [56]:
print(start_date)

2026-02-28 00:00:00

In [ ]:
calendar.monthrange(2024,2) 

# here 3 - month starting from day 4th day of week 
# 0   sun
# 1   mon
# 2   tue
# 3   wed
# 4 thu


# 29 is the number of days i the month

(3, 29)

In [ ]:
# database connection :

In [ ]:
DDL : create,alter, drop.  #auto commit
DML : insert,update,delete  # not auto commit  , need to commit() manually every time we perform DML 
DQL : select

# sqllite available in python if not need to do other DB
# in python , ORM called as pickeling and unpickeling   - predefined module - pickle

In [ ]:
import pymysql      #. --only for mysql 


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133") 
    #  default port 336 is used so not mentioned , if any other port configured then need to mention 
    cur=con.cursor(). #cursor ka object banao, singleton object 
    cur.execute("create table user (id int, name varchar(256))") # cursor object se hi query execute kar paatey hai 
    
    
except Exception as ex:
    print(ex)
finally:                #to be closed like this , if conn not opened using "with" 
    con.close()

In [ ]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    cur.execute("insert into user values(101,'Amit')")
    
    con.commit()        #dml query .. manual commit needed 
except Exception as ex:
    print(ex)
finally:
    con.close()

In [ ]:
eg - 

# if multiple row inserted ...commit is done at the last , till then sab buffer me rehta hai 

# if record in excel or csv , using panda pura insert kar sakte hai, wo table and column bhi usi k naam se banata hai 


eg:

import pandas as pd 

df=pd.DataFrame()
df.to_sql() #-- arguments me accoudingly data dalo asper the signature and available data

In [ ]:
# parameterised query - way 1

import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    data=[(102,"Deepak"),(103,"Sam"),(104,"Rohan")]     #. - this data can come from anywhere at run time - user input /or file 
    sql="insert into user values (%s,%s)"        # when multiple values - parameterised value 
    cur.executemany(sql,data)
    con.commit()
except Exception as ex:
    print(ex)
finally:
    con.close()

In [ ]:
# parameterised query - way 2

# via user input


import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
    id=int(input("Enter id :"))
    name=input("Enter name :")

    sql="insert into user values ('%d','%s')"%(id,name) # when multiple values - parameterised value
    cur.execute(sql)
    con.commit()
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :105
Enter name :Mike

In [ ]:
# parameterised query - way 3

import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    cur.execute("select * from user")
    #data=cur.fetchall()    #gets all records  
    #data=cur.fetchmany(3)  # get 3 records , number can be changed 
    data=cur.fetchone()        # get 1 record
    print(data)
    
except Exception as ex:
    print(ex)
finally:
    con.close()

(101, 'Amit')

In [80]:
import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    id=int(input("Enter id :"))    
    sql="delete from user where id='%d'"%(id)    
    cur.execute(sql)
    con.commit()
    
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :103

In [ ]:
# parameterised query - way 4


import pymysql


try:
    con=pymysql.connect(host="localhost",user="root",password="",database="userdb133")
    cur=con.cursor()
   
    id=int(input("Enter id :"))
    name=input("Enter name :")
    sql="update user set name='%s' where id='%d'"%(name,id)    #////ew
    cur.execute(sql)
    con.commit()
    
except Exception as ex:
    print(ex)
finally:
    con.close()

Enter id :101
Enter name :Amit kumar