In [5]:
print("hello",end=" ")
print("welcome")

#hello welcome

hello welcome

In [6]:
row1=[101,"Amit",23,"Delhi"]
for x in row1:
    print(x,end=" ")

101 Amit 23 Delhi

In [ ]:
#print() #shift+tab

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
x=input("Enter a number")

Enter a number34

In [10]:
x=input("Enter a number")
y=input("Enter a number")

z=x+y

print(z)

Enter a number2
Enter a number3
23

In [13]:
x=input("Enter a number") #return str
type(x),x

Enter a numberTrue

(str, 'True')

In [14]:
# txt file:

y=open("/Users/admin/Documents/error.txt").read()
type(y),y

(str, '23')

In [16]:
#Linux : win :
import os

data=os.popen("df -h").readlines()

for line in data:
    line=line.split()
    if line[-1]=="/":
        print(line[-4])
        print(type(line[-4]))

502144
<class 'str'>

In [ ]:
# type casting :

#int , float , bool ,str complex


int(x):

1   int(23.4) => 23
2.  int(True) => 1
3.  int('34') => 34 #[0-9]
4   int(4+5j) => error

=============================

float(x)

1  float(45) => 45.0
2  float(True) => 1.0
3. float("23.4") => 23.4
4. float(3+4j) => error


============================

bool(x)

int :  bool(0) => False
float : bool(0.0) => False
str : bool('') => False
complex : bool(0+0j) => False
    
========================================

str(x)


=======================================

complex(real) => <real>+0j
complex(real,imag) => <real>+<imag>j

In [52]:
complex(2.4,5)

(2.4+5j)

In [20]:
y,type(y)

(23, int)

In [28]:
x=input("Enter a number")
y=input("Enter a number")

a=int(x)
b=int(y)

z=a+b

print(z)

Enter a number2
Enter a number3
5

In [29]:
x=int(input("Enter a number"))
y=int(input("Enter a number"))

z=x+y

print(z)

Enter a number3
Enter a number4
7

In [61]:
#


if 40>5 :
    print("line1")
    print("line2")

else :

    print("line3")
    print("line4")
    print("line5")
print("line6")
print("line7")
print("line8")

line1
line2
line7
line8

In [ ]:
if condition :
    #True
    
    
========================
if condition :
    #True
else:
    #False

In [63]:
age=int(input("Enter a age :"))
if age>18:
    print("valid")

Enter a age :12

In [65]:
age=int(input("Enter a age :"))
if age>18:
    print("valid")
else:
    print("not valid")

Enter a age :10
not valid

In [ ]:
x=int(input("Enter a number :"))
y=int(input("Enter a number :"))


if x>y:
    print("x is greater")
else:
    print("y is greater")

In [71]:
x=int(input("Enter a number :"))
y=int(input("Enter a number :"))

if x!=y:
    if x>y:
        print("x is greater")
    else:
        print("y is greater")
else:
    print("both are equal")

Enter a number :5
Enter a number :5
both are equal

In [75]:
day=input("Enter day :")
amount=int(input("Enter amount :"))

if day.lower()=="sunday" and amount>=5000:
    disocunt=(amount*10)/100
    amount=amount-disocunt
    print("after 10% discount final price will be :",amount)
else:
    print("without discount final price will be :",amount)

Enter day :Sunday
Enter amount :5423
after 10% discount final price will be : 4880.7

In [78]:
day=input("Enter day :")
amount=int(input("Enter amount :"))

if day.lower()=="sunday" and amount>=5000:
    disocunt=(amount*10)/100
    amount=amount-disocunt
    print("after 10% discount final price will be :",amount)
elif day.lower()=="sunday" and amount>=4000:
    disocunt=(amount*5)/100
    amount=amount-disocunt
    print("after 5% discount final price will be :",amount)
else:
    print("without discount final price will be :",amount)

Enter day :Sunday
Enter amount :3412
without discount final price will be : 3412

In [ ]:
QA1 : write a program to check given number is even or odd
QA1 : check the type of a variable and perform add opertation if type of variable is int otherwise print error msg