In [1]:
d1={'people':[{'india':[{'id':101,'name':"Amit"},{'id':102,'name':'Deepak'}]}]}
#type(d1)
d2=d1['people']
type(d2)
d2
d3=d2[0]['india']
type(d3)
d3[0]
d4=d3[1]
type(d4)
d4['name']

'Deepak'

In [8]:
d1={'people':[{'india':[{'id':101,'name':"Amit"},{'id':102,'name':'Deepak'}]}]}
d1['people'][0]['india'][1]['name']

'Deepak'

In [9]:
x=[101,"Amit",23,"Delhi",45678,"Delhi", 798, "Delhi"]
list_size = len(x)
for item in range(list_size):
    if(x[item] == "Delhi"):
        print(item)

3
5
7

In [10]:
x=[101,"Amit",23,"Delhi",45678,"Delhi", 798, "Delhi"]
for item in range(x.count("Delhi")):
     x.remove("Delhi")
        
        
x

[101, 'Amit', 23, 45678, 798]

In [ ]:
list1=[23,12,45,64,85,8,19,10,88,123,22]
#create a list and add all even numbers from list1


list1=["amit","deepak","root","ram","sham","mike"]

#create a new list and change first char of every username from list1


gender=["male","female","male","male","female"]

#create a new list and add 1 for male and 0 for female

In [15]:
#String :


st="welcome"

len(st)

7

In [21]:
st="welcome to kr"

#st[-1]
#st[0:3]

#st[1]='y' #error
#del st[1] #error

In [24]:
x=int(input("Enter a number :"))
y=int(input("Enter a number :"))


z=x+y

#st="sum of {} and {} is {}".format(x,y,z)
st=f"sum of {x} and {y} is {z}"
print(st)

Enter a number :4
Enter a number :5
sum of 4 and 5 is 9

In [27]:
#path="D:\\python\\temp\\newfiles\\abc.txt"
path=r"D:\python\temp\newfiles\abc.txt"
print(path)

D:\python\temp\newfiles\abc.txt

In [28]:
st=b"hello"

type(st)

bytes

In [29]:
st="welcome"

x=st.encode()

type(x)

bytes

In [30]:
y=x.decode()
type(y)

str

In [32]:
x="34%"
y="$4.99"
z="12,67,890"

In [35]:
x="34%"

int(x.rstrip('%'))

34

In [39]:
y="$4.99"

float(y.lstrip('$'))

4.99

In [48]:
z="12,67,890"
int(z.replace(',',''))

1267890

In [46]:
st="hello hi how are you"

st.replace('h','H',2)

'Hello Hi how are you'

In [49]:
st="hello hi how are you"

st.split() #list

['hello', 'hi', 'how', 'are', 'you']

In [51]:
st="hello,hi,how,are,you"
st.split(',')

['hello', 'hi', 'how', 'are', 'you']

In [55]:
data=["abc.txt","data.csv","dir1","imag.png","xyz.txt"]

for file in data:
    x=file.split('.')
    if x[-1]=="txt":
        print(file)

abc.txt
xyz.txt

In [59]:
st=['hello', 'hi', 'how', 'are', 'you']

x=      " ".join(st)
x

'hello hi how are you'

In [63]:
st="welcome to kr"

#st.startswith("wel")
st.endswith("kr")

True

In [64]:
data=["abc.txt","data.csv","dir1","imag.png","xyz.txt"]

for file in data:
    if file.endswith(".txt"):
        print(file)

abc.txt
xyz.txt

In [65]:
st="welcoMe to kr neTwork"

print(st.lower())
print(st.upper())
print(st.swapcase())
print(st.title())
print(st.capitalize())

welcome to kr network
WELCOME TO KR NETWORK
WELCOmE TO KR NEtWORK
Welcome To Kr Network
Welcome to kr network

In [66]:
#function :

In [ ]:
def fun_name(args):
    #code

In [67]:
def msg():
    print("welcome to kr")

In [68]:
msg()

welcome to kr

In [69]:
msg()

welcome to kr

In [70]:
def add(x,y):
    z=x+y
    print(z)

In [71]:
add(3,4)

7

In [72]:
add(5,6)

11

In [73]:
add(7,8)

15

In [74]:
def info(id,name,city,salary):
    print("id is :",id)
    print("name is. :",name)
    print("city is :",city)
    print("salary is :",salary)

In [77]:
info(101,"Amit","Delhi",5678)

id is : 101
name is. : Amit
city is : Delhi
salary is : 5678

In [80]:
def info(id,name,city,salary):
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [81]:
info(name="Amit",id=101,salary=567854,city="Delhi")

id is : 101
name is : Amit
city is : Delhi
salary is : 567854

In [84]:
def info(id,name,city="Delhi",salary=25000):
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [89]:
#info(101,"Amit")
#info(101,"Amit","Noida",56000)
info(101,"Amit",salary=67000)

id is : 101
name is : Amit
city is : Delhi
salary is : 67000

In [111]:
def add(*x):
    result=0
    for i in x:
        result=result+i
    print(result)

In [114]:
add(4,5,4,5)

18

In [115]:
add(4,5,6)

15

In [116]:
add(6,5,4)

15

In [117]:
def adduser(*var):
    print(var[0])
    print(var[1])

In [118]:
adduser("redhat","root")

redhat
root

In [ ]:
#kwargs

In [122]:
def adduser(**var):
    print(var['username'])

In [125]:
adduser(password="redhat",gid=501,username="root")

root

In [ ]:
local : inside function
global : outside function

In [126]:
p=100 #global

def m1():
    q=200 #local
    print(p,q)

def m2():
    print(p)
    print(q)
    
m1()
m2()

100 200
100

NameError: name 'q' is not defined

In [127]:
p=100 #global

def m1():
    global q 
    q=200
    print(p,q)

def m2():
    print(p)
    print(q)
    
m1()
m2()

100 200
100
200

In [128]:
def add(*x):
    result=0
    for i in x:
        result=result+i
    return result

In [129]:
a=add(3,4,6)

In [130]:
a

13

In [131]:
def add(x,y):
    '''x and y must need to be int value'''
    z=x+y
    print(z)

In [132]:
help(add)

Help on function add in module __main__:

add(x, y)
    x and y must need to be int value