In [1]:
x=[101,"Amit",23,"Delhi",45678.90]

In [ ]:
len(x)
#length of the list

5

In [3]:
x=[101,"Amit",23,"Delhi",45678.90]

x[1]="Deepak"

x

[101, 'Deepak', 23, 'Delhi', 45678.9]

In [4]:
x=[101,"Amit",23,"Delhi",45678.90]

del x[3]

x

[101, 'Amit', 23, 45678.9]

In [ ]:
print(dir(list))  # dir is a function that returns a list of attributes and methods of an object

# methods with __ are special methods or magic methods or dunder methods or private methods that are for internal use of the list, 
# other methods are public methods that are for external use of the list or for us/users to use

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

#x.append("Deepak"). # add element at last 
#x.insert(1,"Ram") # add element at specific position
#x.extend([56,89])  # add multiple element at last  

# me Notes
# x.remove("Amit"). # remove element  
# x.pop() # remove element at last 
# x.pop(2) # remove element at specific position   

# x.sort() # sort element in ascending order 
# x.reverse() # sort element in descending order 
# x.index("Delhi") # find index of element 
# x.count("Amit") # count element 
# x.copy() # copy element
# x.clear() # clear element
 
x

[101, 'Amit', 23, 'Delhi', 45678]

In [ ]:
ways to copy a list :
deep copy : copy.copy() or copy.deepcopy()- creates a new list and copies the elements from the original list to the new list.
                  x and y both point to different memory area
                  change in one list will not affect the other list.

shallow copy : x=y -  means that the new list is a reference to the original list.
                making change in one list will affect the other list.
                 x and y both point to same memory area
x=[101,"Amit",23,"Delhi",45678]

y=x # shallow copy

In [16]:
x

[101, 'Amit', 23, 'Delhi', 45678]

In [17]:
y

[101, 'Amit', 23, 'Delhi', 45678]

In [18]:
y[1]="abc"

In [19]:
y

[101, 'abc', 23, 'Delhi', 45678]

In [20]:
x

[101, 'abc', 23, 'Delhi', 45678]

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

y=x.copy() #deep copy

In [22]:
x

[101, 'Amit', 23, 'Delhi', 45678]

In [23]:
y

[101, 'Amit', 23, 'Delhi', 45678]

In [24]:
y[1]="xyz"

In [25]:
y

[101, 'xyz', 23, 'Delhi', 45678]

In [ ]:
x  #only in jupitor notebook we can print without print statement

[101, 'Amit', 23, 'Delhi', 45678]

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

x.clear() #clear the list
# empty the list
print(x)

[]

In [ ]:
x=[101,"Amit",23,"Delhi",45678,"Delhi"]
#to find the index number of an element
x.index() -> index: def index(
                                self: list[int | str],
                                value: int | str,
                                start: SupportsIndex = 0, default value is 0 for start
                                stop: SupportsIndex = ..., default value is end of list for stop
                                /


#x.index("Delhi") # returns the first index of Delhi ->3, starts search from index 0
#x.index("Delhi",4) #returns the index of Delhi starting from index 4

# write a program to find all the index of Delhi in a list

5

In [ ]:
#x=[101,"Amit",23,"Delhi",45678,"Delhi"]
#QA: find index of all Delhi

In [ ]:
x=[101,"Amit",23,"Delhi",45678,"Delhi"]

x.count("Delhi") # counts the number of times "Delhi" appears in the list
# if doesnt exist it returns 0

2

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

x.pop() #fetch the element and remove delete it
# if no index is specified then it will remove the last element
default value of pop is -1 which means last element

x.pop(2) #fetch the element and remove delete it and return it
at index 2  which is "Delhi" because index is 0 based and

45678

In [33]:
x

[101, 'Amit', 23, 'Delhi']

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

x.pop(1) #fetch and remove /delete index 1 element or at the given index
# if no index is specified then it will remove the last element

'Amit'

In [35]:
x

[101, 23, 'Delhi', 45678]

In [ ]:
x=[101,"Amit",23,"Delhi",45678,"Delhi"]

#x.remove("Delhi") #removes the first matching element even if there are multiple occurences of the element "Delhi"
#x.remove("Delhi")
x

[101, 'Amit', 23, 45678, 'Delhi']

In [38]:
x=[101,"Amit",23,"Delhi",45678,"Delhi"]

#QA: remove all Delhi from list

In [ ]:
x=[101,"Amit",23,"Delhi",45678]

x.reverse() #reverse the list

x

[45678, 'Delhi', 23, 'Amit', 101]

In [2]:
x=[101,"Amit",23,"Delhi",45678]
# x.sort()
# TypeError: '<' not supported between instances of 'str' and 'int'

y=[23,10,9,45,7,21,23]

#y.sort() 
y.sort(reverse=True)
y

[45, 23, 23, 21, 10, 9, 7]

In [ ]:
#Tuple : collection of items
#Tuple : ( , )
#Tuple : based on index
#Tuple : homo ,hetro,duplicate
#Tuple : immutable : also called a read-only data store 
#Tuple : for critical scenario where values dont change 
# for tuple , bracket () not mandatory , but list [] is mandatory
# but if without bracket only 1 value given , doesnt consider tuple , considers as integer 
# eg 
x= 23 #-> not a tuple
x= (23) #-> is not  a tuple
x= (23,) #-> is now a tuple, add just a comma 
x= 23, #-> is now a tuple, add just a comma 
x= tuple() #->creating an empty tuple


x= (23) #-> is not  a tuple

x=(101,"Amit",23,"Delhi",674321)


x=(101,"Amit",23,"Delhi",674321)
type(x)

tuple

In [54]:
x=(23,)
type(x)

tuple

In [55]:
x=tuple()
type(x)

tuple

In [ ]:
x=(101,"Amit",23,"Delhi",674321)
# get data with index
#x[1]
#x[-1]
#x[1:4]. slicing also done

In [3]:
x=(101,"Amit",23,"Delhi",674321)
x[1]= "Deepak". #-> cant do ..... modifications not allowed in a tuple

SyntaxError: invalid syntax (75630604.py, line 2)

In [ ]:
# Length is not a modification. Length is just getting the length of it, so we can do that in two. 
len(x) 

# "count" and "index" are only two methods available in a tuple, both of which do not modify it.

5

In [64]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#dict : collection of keys and values :Like hash map 
#dict : {k:v,k:v,k:v}. Like json data or yaml 
#dict(key) :  immutable,unique 
# eg : int,float ,bool,string,complex,tuple
#dict(value) : multiple values can be assigned to a key as a value as a list against a particular key. 
d1={'id':101,'name':['Amit','Ram','Shyam'],'age':23,'city':'Delhi'}

#dict : mutable : can change the entire entry of the dictionary, but not just the key. A key-value pair can be modified. 
# fastest searching
# cant keep key or value empty 
# if no value assigned to key atleast add None to it 

d1={'id':101,'name':'Amit','age':23,'city':'Delhi','city':'Allahabad'}
# If you create a duplicate key and assign a different value to it, it will overwrite the previous value assigned to the particular key. 
# Example city is equal to Delhi, and city is equal to allahabad -> Now, if we run city= Allahabad, value overrided.


# It is not Mandatory to have only a string as key 
# Can have an integer as key also as below examples 
# Can be of any of the immutable data types 
# like int, float, bool, string, complex, and tuple (not a list; it is mutable)
d2={123:"Deepak"}


d1

{'id': 101, 'name': 'Amit', 'age': 23, 'city': 'Allahabad'}

In [ ]:
int,float ,bool,string,complex,tuple

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

# Get value from Key
# Slicing doesn't work in dictionary because here there is no indexing, only key-value pair, 
# and data is extracted not based on index but based on key. 

Printing value based on key here 
#d1['name']. -----case1
#d1['age']
#d1['salary'] #error

While fetching values :
1. when we fetch with key name - if value does not exist, there's an error. 
2. When we fetch values using `get` and a key, it gives the default value of the key or none if the value does not exist. 

d1.get('name') #------case2
#print(d1.get('salary'))
d1.get('salary',25000)

25000

In [82]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

d1['age']=45

d1

{'id': 101, 'name': 'Amit', 'age': 45, 'city': 'Delhi'}

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

del d1['name'] # deletes key and value
 
# keyerror: We get a  only in a dictionary 
# when the key is not present in the dictionary. 

d1

{'id': 101, 'age': 23, 'city': 'Delhi'}

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}
Add values in a dictionary. 
d1['age']=67000 #Not recommended. This will update the value if the key age already exists. 
#d1.setdefault('age',89) #If the key already exists, it will neither add nor update the value for it. 

#d1.setdefault('salary') # Here, no value provided it will assign the value as none. 
d1.setdefault('salary',45000)
d1

{'id': 101, 'name': 'Amit', 'age': 23, 'city': 'Delhi', 'salary': 45000}

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

d1.copy(). # deep copy
d1.clear() #clear the list

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}
# iteration
# returns only keys
for x in d1:
    print(x)

id
name
age
city

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

k=list(d1.keys())
v=list(d1.values())
it=list(d1.items()) # key value pair
print(it)

[('id', 101), ('name', 'Amit'), ('age', 23), ('city', 'Delhi')]

In [ ]:
for x in d1.values(): # returns values
    print(x)

101
Amit
23
Delhi

In [ ]:
for x in d1.items(): # returns k,v pair
    print(x)

('id', 101)
('name', 'Amit')
('age', 23)
('city', 'Delhi')

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

d1.pop()  
d1.pop('age'). #return and remove k,v of a particular key

23

In [96]:
d1

{'id': 101, 'name': 'Amit', 'city': 'Delhi'}

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}

d1.popitem()#return and remove  last entry of dict

('city', 'Delhi')

In [98]:
d1

{'id': 101, 'name': 'Amit', 'age': 23}

In [ ]:
d1={'id':101,'name':'Amit','age':23,'city':'Delhi'}


d2={'name':'Amit','age':45,'salary':67000}

When updating dictionary:
- If key is present with the same values, no changes will happen.
- If different values for the same key, it will update it.
- If the key does not exist, it will add the key in the dictionary to be updated. 
d1.update(d2)


d1

{'id': 101, 'name': 'Amit', 'age': 45, 'city': 'Delhi', 'salary': 67000}

In [ ]:
#  We can make a nested dictionary also. 
 d1={'101':{'id':101,'name':'Deepak'}}

In [ ]:
# Q1 . 
d1={'people':[{'india':[{'id':101,'name':"Amit"},{'id':102,'name':'Deepa k'}]}]}