In [9]:
import pymysql 
from sqlalchemy import create_engine,text

cnx=create_engine('mysql+pymysql://root:@localhost/userdb133')

In [10]:
import pandas as pd

In [20]:
df=pd.read_sql(text("select * from user"),cnx.connect())

In [8]:
#!python -m pip install --upgrade 'sqlalchemy<2.0'

In [14]:
df

    id        name
0  101  Amit kumar
1  102      Deepak
2  104       Rohan
3  105        Mike

In [15]:
df.to_csv("/Users/admin/Movies/userdb.csv",index=False)

In [24]:
df.to_sql("user4",cnx.connect(),index=False)

4

In [ ]:
# python default db , 
# default server

# mostly desktop based app

plain files data saved 

# sqllite
# data saved in plain db files - can perform db operations 
# all connection making with all db is standard
sql ki std query run hogi 
create insert etc
yaha b DML hai to commit krna padeyga 

agar us location pe ja k file dekhengey ... data ajeeb dikheyga , but retrieve kiya to sahi data mileyga

In [25]:
import sqlite3

In [ ]:
try:
    conn=sqlite3.connect("/Users/admin/Movies/test/user.db")
    cur=conn.cursor()
    #cur.execute("create table user (id int , name varchar(256))")      1
    #cur.execute("insert into user values (101,'Amit')")        2
    #conn.commit()
    cur.execute("select * from user")
    
    data=cur.fetchall()
    print(data)
except Exception as ex:
    print(ex)

[(101, 'Amit')]

In [ ]:
#logging

# in chat file 
refer - logging.txt in notes folder