In [ ]:
import start

#range :

range(start,end,step)

start : default : 0
        
end : end-1
    
step : default +1
    
    
range(10) => [0-9] => [0,1,2,3,4.....9]
range(2,10) => [2-9] => [2,3,4,5...9]
range(1,20,2) => [1-19] => [1,3,5,7,9....19]

range(10,1,-1) [10-2] => [10,9,8,7,6...2]

In [ ]:
#loop : for , while

In [ ]:
seq : list, tuple ,dict , set , str , range


for var in seq:
    #code

In [27]:
for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [15]:
a="Deepak"
type(a)

str

In [16]:
len(a)

6

In [28]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while condition:
    #code

In [2]:
x=1

while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [5]:
x=1

while x<=10:
    print(x,end=" ")
    x=x+1

1 2 3 4 5 6 7 8 9 10

In [35]:
name=None

while name!="root":
    name=input("Enter username :")

Enter username :amit
Enter username :deepak
Enter username :sam
Enter username :root

In [36]:
#break, continue , pass

In [37]:
#break

for x in range(5):
    if x==3:
        break
    print(x)

0
1
2

In [38]:
while True:
    name=input("Enter username :")
    if name=="root":
        print("welcome root!!!")
        break

Enter username :amit
Enter username :sam
Enter username :root
welcome root!!!

In [39]:
#continue

for x in range(5):
    if x==3:
        continue
    print(x)

0
1
2
4

In [40]:
users=["sam","ram","root","amit","redhat","mike"]

for user in users:
    if user in ["root","mike"]:
        continue
    print(user)

sam
ram
amit
redhat

In [ ]:
#pass

In [46]:
if 3>4:
    pass
else:
    print("else")

else

In [47]:
def m1():
    pass

In [48]:
class Demo:
    pass

In [ ]:
array : homo

In [50]:
#list : collection of items(objects)
#list : [ , ]
#list : based on index : start : 0 , end -> n-1 
#list : homo, hetro,,duplicate
#list : mutable : update, add, delete


x=[101,"Amit",23,"Delhi",45678.90]

y=[23,10,9,45,7,21,23]

'Delhi'

In [52]:
x=[101,"Amit",23,"Delhi",45678.90]

#x[3]
#x[-2]

'Delhi'

In [64]:
#slice

x=[101,"Amit",23,"Delhi",45678,890,"Deepak",100,"Sam",90,87,21]

#list_name[start:end:step] # start : 0 , end : end-1 , step : +1

#x[1:5]
#x[:5]
#x[4:]
#x[1:8:2] #1,3,5,7
#x[-4:-1]
x[-1:-4:-1]

[21, 87, 90]

In [65]:
list(range(-1,-4,-1))

[-1, -2, -3]