In [1]:
d1={'people':[{'india':[{'id':101,'name':"Amit"},{'id':102,'name':'Deepak'}]}]}
#type(d1)
d2=d1['people']
type(d2)
d2
d3=d2[0]['india']
type(d3)
d3[0]
d4=d3[1]
type(d4)
d4['name']

'Deepak'

In [8]:
d1={'people':[{'india':[{'id':101,'name':"Amit"},{'id':102,'name':'Deepak'}]}]}
d1['people'][0]['india'][1]['name']

'Deepak'

In [9]:
x=[101,"Amit",23,"Delhi",45678,"Delhi", 798, "Delhi"]
list_size = len(x)
for item in range(list_size):
    if(x[item] == "Delhi"):
        print(item)

3
5
7

In [10]:
x=[101,"Amit",23,"Delhi",45678,"Delhi", 798, "Delhi"]
for item in range(x.count("Delhi")):
     x.remove("Delhi")
        
        
x

[101, 'Amit', 23, 45678, 798]

In [ ]:
#Assignments
list1=[23,12,45,64,85,8,19,10,88,123,22]
#create a list and add all even numbers from list1


list1=["amit","deepak","root","ram","sham","mike"]

#create a new list and change first char of every username from list1


gender=["male","female","male","male","female"]

#create a new list and add 1 for male and 0 for female

In [ ]:
#String :
# no.of space is also counted 
like list :
it is index based9qwa a  


st="welcome"

len(st)

7

In [21]:
st="welcome to kr"

#st[-1]
#st[0:3]

#st[1]='y' #error
#del st[1] #error

In [ ]:
x=int(input("Enter a number :"))
y=int(input("Enter a number :"))


z=x+y 


# to give dynamic values in a string we use curley braces and
# 1.  format(<var1>,<var2>,<var3>), where the values are given in the order of the braces
#st="sum of {} and {} is {}".format(x,y,z)

# 2. f string , but give the variables inside the braces
st=f"sum of {x} and {y} is {z}"
print(st)

Enter a number :4
Enter a number :5
sum of 4 and 5 is 9

In [ ]:
# in python - \t is used for tab
# in python - \n is used for new line
# in python - \r is used for carriage return
# in python - \b is used for backspace
# in python - \f is used for form feed
# in python - \v is used for vertical tab
# in python - \0 is used for null character
# in python - \N is used for unicode character
# in python - \\ is used for backslash
# in python - \a is used for alert

path="D:\python\temp\newfiles\abc.txt". 
# has a problem - here in the path, \P, \T, \N, \A are used for tab, new line, alert, etc.,
#  so when we run this line, it will not give us the correct path, 
# but convert into space, newline, etc. 

# In order to fix this problem to get the correct path: 
#. 1. either add a double black slash or, 
#path="D:\\python\\temp\\newfiles\\abc.txt"


#  2. at the beginning of the path before the "" add "r" to fix the issue. here "r" stands for rew string. 
path=r"D:\python\temp\newfiles\abc.txt"

print(path)

D:\python\temp\newfiles\abc.txt

In [ ]:
# in socket programming - tcp /udp server-- we dont send text data on the network we send byte data. 
# To convert text into byte data, we use small b in front of the string assigned to a variable. 
#  I am defining a string, but if I am using a user input, I can't put a b in front of it. 
#  I can't even bring it with a file, so this is useful for defining a string on my own. 
#  When I am defining a string on my own, if I put a b in the beginning of the string, it will automatically convert to bytes. 
#  This is the first way.   

st=b"hello"

type(st)

bytes

In [ ]:
st="welcome"
# If we execute some command on any server by SSH, 
# then the data we will get there will also come in bytes,
# and we will have to convert it to string . 

# When I'm not defining my own string and picking the string from either user or directly reading from a file, 
# then we use encode to directly convert encode incomming string it into bytes , which can be later decoded to string  . 


x=st.encode()

type(x)

bytes

In [ ]:
# now we need to decode it onto string 
y=x.decode()
type(y)

str

In [ ]:
# String Methods :
# example below :

In [32]:
x="34%"
y="$4.99"
z="12,67,890"

In [ ]:
x="34%"

int(x.rstrip('%')) #rstrip is used for  removing passed value from right of the string

34

In [ ]:
y="$4.99"

float(y.lstrip('4')). wont work not left most part 
float(y.lstrip('$4')) works 
float(y.lstrip('$'))#lstrip is used for  removing passed value from left of the string

4.99

In [48]:
z="12,67,890"
int(z.replace(',',''))

1267890

In [ ]:
st="hello hi how are you"

st.replace('h','H')  #replace with another word
st.replace('h',abc). #replace with moltiple chars
st.replace('how',''). #replace with nothing
st.replace('h','H',2) #first 2 occurances

'Hello Hi how are you'

In [49]:
st="hello hi how are you"

st.split() #list

['hello', 'hi', 'how', 'are', 'you']

In [ ]:
st="hello,hi,how,are,you"
st.split(',')

['hello', 'hi', 'how', 'are', 'you']

In [1]:
data=["abc.txt","data.csv","dir1","imag.png","xyz.txt"]
# prints all the file name in the list 
for file in data:
        print(file)

abc.txt
data.csv
dir1
imag.png
xyz.txt

In [ ]:
data=["abc.txt","data.csv","dir1","imag.png","xyz.txt"]
# prints all the file name with particular format in the list 
for file in data:
    x=file.split('.'). --> gives a list
    if x[-1]=="txt":
        print(file)

abc.txt
xyz.txt

In [9]:
# joining string

st=['hello', 'hi', 'how', 'are', 'you']
#give goiner(what comes between the words) and .join(stringvalue) 
# x=      ",".join(st) 
# x=      "/".join(st) # give goiner and .join 
x=      " ".join(st) # give goiner and .join 
x

'hello hi how are you'

In [ ]:
st="welcome to kr"

#st.startswith("wel") # checks if the string starts with wel
st.endswith("kr") # checks if the string ends with kr

True

In [64]:
data=["abc.txt","data.csv","dir1","imag.png","xyz.txt"]

for file in data:
    if file.endswith(".txt"):
        print(file)

abc.txt
xyz.txt

In [ ]:
st="welcoMe to kr neTwork"

print(st.lower())  
print(st.upper())
print(st.swapcase())
print(st.title())
print(st.capitalize())

# # --- 10h. Case Conversion Methods ---
# st = "welcoMe to kr neTwork"
# print(st.lower())       # "welcome to kr network"      — all lowercase
# print(st.upper())       # "WELCOME TO KR NETWORK"      — all uppercase
# print(st.swapcase())    # "WELCOmE TO KR NEtWORK"      — swap each character's case
# print(st.title())       # "Welcome To Kr Network"       — capitalize first letter of each word
# print(st.capitalize())  # "Welcome to kr network"       — capitalize only the first letter of the string

welcome to kr network
WELCOME TO KR NETWORK
WELCOmE TO KR NEtWORK
Welcome To Kr Network
Welcome to kr network

In [ ]:
#function : # A function is a reusable block of code.

In [ ]:
def fun_name(args):
    #code

In [ ]:
def msg():  # non parameterised 
    print("welcome to kr")

In [ ]:
msg() # calling method

welcome to kr

In [69]:
msg()

welcome to kr

In [ ]:
def add(x,y): # parameterised function 
    z=x+y
    print(z)

In [ ]:
add(3,4) # calling function with argument values

7

In [72]:
add(5,6)

11

In [73]:
add(7,8)

15

In [ ]:
# types of parameters 
# 1. required parameter - one with no default value 
# 2. named or keyword arg - while coding, if we forget in which order we have placed the arguments, in that case we can provide the name of the argument and assign the value to it. 
        # eg:info(name="Amit",id=101,salary=567854,city="Delhi")

# 3. Default value arg  - we can give default values to arguments starting from the right most, 
                                # cant start assigning default values from the left 
                # def info(id,name,city="Delhi",salary=25000):

# 4. Variable length arguments

def info(id,name,city,salary):
    print("id is :",id)
    print("name is. :",name)
    print("city is :",city)
    print("salary is :",salary)

In [ ]:
# eg :  

info() 
# gives error ,
#  because all are required parameters and 
# the given parameters or arguments don't have any default value in it 
# nor have we assigned any value to it.

In [77]:
info(101,"Amit","Delhi",5678)

id is : 101
name is. : Amit
city is : Delhi
salary is : 5678

In [80]:
def info(id,name,city,salary):
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [ ]:
# 2. named or keyword arg - while coding, if we forget in which order we have placed the arguments, in that case we can provide the name of the argument and assign the value to it. 


info(name="Amit",id=101,salary=567854,city="Delhi")

id is : 101
name is : Amit
city is : Delhi
salary is : 567854

In [ ]:
# 3. Default value arg  - we can give default values to arguments starting from the right most, 
                                # cant start assigning default values from the left 
                # def info(id,name,city="Delhi",salary=25000):

def info(id,name,city="Delhi",salary=25000):  # correct 
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [ ]:
#info(101,"Amit") 
#info(101,"Amit","Noida",56000)
info(101,"Amit",salary=67000)

In [12]:
def info(id=1,name="Ana",city,salary):  # wrong way to give default value from the left 
     
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

SyntaxError: parameter without a default follows parameter with a default (635417130.py, line 1)

In [ ]:
# def info(id=1,name="Ana",city,salary): wrong
#info(101,"Amit")
#  In the above method, these two values 101 #and Amit start getting assigned to id and name, 
# which already have a default value. 

# def info(id,name,city="Delhi",salary=25000):  # correct 
# Instead, if we assign the default values to city and salary and 
# if we pass the value 101 and Amit to the method info,  #info(101,"Amit") 
# then 101 and Amit will get assigned to ID and name. 
# We don't need to give any argument for city and salary, as it already has a default value assigned in args.
# # here which ever arg does not have any default value: that argument is a required and mandatory field to be passed in the function. 
# The argument which has a default value is not mandatory to be passed in the function. Not a required argument. 


#info(101,"Amit","Noida",56000)

def info(id,name,city="Delhi",salary=25000):
    print("id is :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)


    # info(101,"Amit",67000)
    # # In this case, the 67000 value gets assigned to the city instead of salary. 
    # # In such a case, we can mention the name of the argument like below. 
    # # info(101,"Amit",salary=67000) #or below 
    # # info(101,"Amit",end=67000)

In [ ]:
#  info(101,"Amit",67000)
# In this case, the 67000 value gets assigned to the city instead of salary. 
# In such a case, we can mention the name of the argument like below. 
info(101,"Amit",salary=67000) #or below 
# info(101,"Amit",end=67000)

In [ ]:
# 4. Variable length arguments - can give any number of arguments 
# eg def add(*x):  adding star with the argument 

def add(*x):  #where ,here x is a tuple 
     print(x)

    # in add(1,2,3,4,5) now can pass n number of arguments

In [34]:
add(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [35]:

def add(*x):
    result=0
    for i in x:
        result=result+i
    print(result)

In [36]:
add(4,5,4,5)

18

In [115]:
add(4,5,6)

15

In [116]:
add(6,5,4)

15

In [117]:
def adduser(*var):
    print(var[0])
    print(var[1])

In [118]:
adduser("redhat","root")

redhat
root

In [ ]:
#kwargs. - Keyword Variable Length Argument 

# when multiple values are passed into the argument, and also the order of the argument passed matters. 
# then we use kwargs , and we give the parameter name as key to avoid the order issue 

def adduser(**var):
    print(var[0]) #-- need to enter userId
    print(var[1]) #-- need to enter password


in such case the order of values passed in add user matters 

adduser(val1, val2)

In [122]:
def adduser(**var):
    print(var['username'])

In [ ]:
# adduser(username="root",password="redhat")

adduser(password="redhat",gid=501,username="root"). now the order doesnt matter

root

In [ ]:
# variable types :

local : declared inside function
global : declared outside function

In [ ]:
p=100 #global

def m1(): 
    # global q   # local variable can also be made global in this way, but rarely used, use it mostly wherever necessary. 
    q=200 #local
    print(p,q)

def m2():
    print(p)
    print(q) # ---- not a local variable so will give error, if global Q is defined in M1, then the below error will not occur. 
    
m1()
m2()

100 200
100

NameError: name 'q' is not defined

In [127]:
p=100 #global

def m1():
    global q 
    q=200
    print(p,q)

def m2():
    print(p)
    print(q)
    
m1()
m2()

100 200
100
200

In [ ]:
# Returning value in a function. 

def add(*x):
    result=0
    for i in x:
        result=result+i
    return result   # Returning value in a function.

In [ ]:
a=add(3,4,6)   #--returned value of add stored in a

In [130]:
a

13

In [ ]:
# writing documentation for function

def add(x,y):
    '''x and y must need to be int value'''     #writing documentation for function
    z=x+y
    print(z)

In [ ]:
#  if we have written any documentation in a function then we can see the documentation with the help of the help method like below 

help(add)

Help on function add in module __main__:

add(x, y)
    x and y must need to be int value